$stars-count: 5;

.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $i from 0 through $stars-count {
    &--#{$i} {
      .stars__star:nth-child(-n + #{$i}) {
        background-image: url('../images/star-active.svg');
      }
    }
  }
}
